<div class="roomWrapper">
  <div class="roomDetailContainer">
    <div class="roomDetailTop">
      <div>
        <%= link_to :back, class: "text-decoration-none" do %>
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
          </svg>
          <span>戻る</span>
        <% end %>
      </div>
      <div>
        <%= link_to edit_room_path(@room), class: "text-decoration-none" do %>
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
            <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
          </svg>
          <span>編集</span>
        <% end %>
      </div>
    </div>

    <div class="roomDetailMain">
      <h4>
        <%= @room.accommodation_name %>
      </h4>
      <p>
        <%= @room.accommodation_address %>
      </p>
      <div class="roomDetailMainImg">
        <div>
          <% if @room.accommodation_img.attached? %>
            <%= image_tag @room.accommodation_img, size: "325x225" %>
          <% else %>
            <%= image_tag "default_room.png", size: "325x225" %>
          <% end %>
        </div>
        <div class="roomDetailMainDescription">
          <div><%= number_to_currency(@room.accommodation_fee, format: "%u%n", unit: "￥")+"~" %></div>
          <div><%= @room.accommodation_detail %></div>
        </div>
      </div>

      <div class="reservationForm">
        <%= form_with model: @reservation, url: reservations_confirm_path do |f| %>
          <div>
            <div class="reservationFormField">
              <%= f.label :checkin_at, "チェックイン" %>
              <div>
                <%= f.date_field :checkin_at %>
              </div>
              <span class="errorMessage">
                <% if @reservation.errors.include?(:checkin_at) %>
                  <%= @reservation.errors.full_messages_for(:checkin_at).first %>
                <% end %>
              </span>
            </div>

            <div class="reservationFormField">
              <%= f.label :checkout_at, "チェックアウト" %>
              <div>
                <%= f.date_field :checkout_at %>
              </div>
              <span class="errorMessage">
                <% if @reservation.errors.include?(:checkout_at) %>
                  <%= @reservation.errors.full_messages_for(:checkout_at).first %>
                <% end %>
              </span>
            </div>

            <div class="reservationFormField reservationFormFieldPersonCount">
              <%= f.label :number_of_guests, "人数" %>
              <div>
                <%= f.text_field :number_of_guests, placeholder: "0" %>
                <span>人</span>
              </div>
              <span class="errorMessage">
                <% if @reservation.errors.include?(:number_of_guests) %>
                  <%= @reservation.errors.full_messages_for(:number_of_guests).first %>
                <% end %>
              </span>
            </div>
          </div>

          <%= f.hidden_field :room_id, value: @room.id %>
          <%= f.hidden_field :user_id, value: @user.id %>

          <div class="reservationFormButton">
            <%= f.submit "予約する" %>
          </div>
        <% end %>
      </div>

    </div>

  </div>

</div>
